{% if tree|length > 1 %}
    {% macro recursiveCategory(category) %}
        {% import _self as self %}
        <li>
            {% if(category.level == 1 ) %}
                <h3><a href="{{ path('category_post_list', {'slug':category.slug}) }}"><i class="fa fa-lg fa-tachometer"></i>{{ category.title }}</a></h3>
            {% else %}
                <a href="{{ path('category_post_list', {'slug':category.slug}) }}">{{ category.title }}</a>
            {% endif %}
            {% if category.__children|length %}
                <ul>
                    {% for child in category.__children %}
                        {{ self.recursiveCategory(child) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}
    {% from _self import recursiveCategory %}
    <div class="wWrap">
        <div class="h5">Categories</div>
        <div id="accordian">
            <ul>
                {% set oldNode = 0 %}
                {% for node in tree %}
                    {{ recursiveCategory(node) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}