<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-light">
<wrapper class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light mainMenu">
            <div class="container">
                <a class="navbar-brand" href="{{ path('micro_post_index') }}" title="Blog">
                    <img data-src="holder.js/120x32?text=Blog&bg=e83e8c&fg=fff&size=8" title="Blog" alt="logo Blog">
                </a>
                <ul class="navbar-nav px-3">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('micro_post_add') }}">Add new</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav px-3">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="#">{{ app.user.fullName }}</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('security_register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
    </header>
    <main role="main" class="flex-fill container main">
        {{ include('/blocks/alert.html.twig') }}
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer class="align-bottom row-fluid">
        <div class="container">
            <b>&copy; {{ "now"|date("Y") }}</b> <span class="text-muted">unt1tled@ua.fm</span>
        </div>
    </footer>
</wrapper>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
