{# @var post #}
{% extends 'base.html.twig' %}
{% block title %} Micro Posts Show Page {% endblock %}

{% block body %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-grey pb-2 mb-0">{{ 'Show'|trans }} Micro Post</h6>
        {% if post %}
            {{ include('/micro-post/post.html.twig', {'post': post}) }}

            {% set isLiked = post.getLikedBy.contains(app.user) %}
            <div class="pt-2">
                    <button class="btn btn-outline-secondary btn-sm" id="unLikeBtn" {% if not isLiked %} style="display: none" {% endif %}><i class="fal fa-heart"></i>{{ 'UnLike'|trans }}
                        <span class="badge badge-secondary" id="likesUnLike">{{ post.getLikedBy.count }}</span>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" id="likeBtn" {% if isLiked %} style="display: none" {% endif %}><i class="fas fa-heart"></i>{{ 'Like'|trans }}
                        <span class="badge badge-danger" id="likesLike">{{ post.getLikedBy.count }}</span>
                    </button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let likeButton = document.getElementById('likeBtn');
        let unLikeButton = document.getElementById('unLikeBtn');
        addOnClick(likeButton,unLikeButton, document.getElementById('likesUnLike'),'{{ path('likes_like',{'id': post.id}) }}' );
        addOnClick(unLikeButton,likeButton, document.getElementById('likesLike'),'{{ path('likes_unlike',{'id': post.id}) }}' );
        function switchButton(button, oppositeButton) {
            button.disabled = false;
            button.style.display = 'none';
            oppositeButton.style.display = 'block';
        }
        function  addOnClick(button, oppositeButton, likeCount, path) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                {% if app.user %}
                    button.disabled = true;
                    fetch(path,{'credentials': 'include'})
                        .then(function (response) {
                            response.json().then(function (json) {
                                likeCount.innerText = json.count;
                                switchButton(button, oppositeButton);
                            })
                        })
                        .catch( function () {
                            switchButton(button, oppositeButton);
                        });
                {% else %}
                    window.location = '{{ path('login') }}';
                {% endif %}
            });
        }
    </script>
{% endblock %}