{# @var last_username #}
{# @var error #}
{% extends 'base.html.twig' %}
{% block title %} Micro Posts Page {% endblock %}

{% block body %}
    <div class="col-12">
        {% if error %}
            <div class="col-12 alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <h4>{{ 'Login on Our Site'|trans }}</h4>
         {{ form_start(form) }}
            {{ form_widget(form) }}
         {{ form_end(form) }}
    </div>
{% endblock %}